#columns {
	column-width: 100vw;
	column-gap: 0px;
  width: 100vw;
  height: auto;
}

div#columns .figure {
	background-color: rgb(38, 38, 38);
	transition: opacity .4s ease-in-out;
  -webkit-column-break-inside: avoid;
	display: block;
	margin: auto;
	width: 80%;
}

div#columns .figure img {
	height: 250px;
	width: auto;
}

div#columns .figure div {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height: auto;
  padding: 20px;
}

div#columns .terms div {
	border: 1px solid #73AD21;
  font-size: .9rem;
  color: #444;
	background-color: #fefefe;
  line-height: 1.5;
  height: auto;
  padding: 20px;
}

div#columns .text div {
  color: #444;
	background-color: #fefefe;
	width: 100vw;
}

div#columns:hover .figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 864px) {
	div#columns .figure img {
		height: 100px;
		width: auto;
	}
}
