body {
  background:rgb(38, 38, 38);
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  color: rgb(236, 176, 141);
  margin: 0px !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(236, 176, 141);
}

.home-menu {
  margin: 20px;
  padding: 15px;
}

.vertical-rule {
  border-left: 1px solid rgb(236, 176, 141);
  margin-left: 15px;
  margin-right: 15px;
}

.footer-span {
  text-align: center;
}

.search {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-size: 20px;
	font-weight: 300;
  display: block;
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 0px;
}

@media screen and (max-width: 864px) {
  .home-menu {
    width: 60%;
    margin: auto;
    padding: 15px;
  }
  .search {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    font-size: 10px;
  	font-weight: 300;
    display: block;
    margin: auto;
    width: 60%;
    border: 2px solid #73AD21;
    padding: 3px;
    border-radius: 0px;
  }
}

@media screen and (max-width: 581px) {
  body {
    padding-top: 20px;
  }
  .home-menu {
    display: none;
  }
}
