body {
  background:rgb(38, 38, 38);
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  color: rgb(236, 176, 141);
  margin: 0px !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(236, 176, 141);
}

.home-menu {
  margin: 20px;
  padding: 5px;
  /* border: 1px solid rgb(236, 176, 141); */
}

.vertical-rule {
  border-left: 1px solid rgb(236, 176, 141);
  margin-left: 15px;
  margin-right: 15px;
}

/* .title {
  text-align: center;
} */

.footer-span {
  text-align: center;
}

/* .ketoInfo {
  display: block;
  margin: auto;
  height: 1200px;
  width: 90vw;
} */

/* .ifInfo {
  display: block;
  margin: auto;
  height: auto;
  width: 90vw;
} */

.search {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-size: 20px;
	font-weight: 300;
  display: block;
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 0px;
}
